test-data/sml.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://purl.oclc.org/ooxml/spreadsheetml/main" xmlns:r="http://purl.oclc.org/ooxml/officeDocument/relationships" xmlns:s="http://purl.oclc.org/ooxml/officeDocument/sharedTypes" targetNamespace="http://purl.oclc.org/ooxml/spreadsheetml/main" elementFormDefault="qualified">
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationshipReference.xsd"/>
  <xsd:import namespace="http://purl.oclc.org/ooxml/officeDocument/sharedTypes" schemaLocation="shared-commonSimpleTypes.xsd"/>
  <xsd:complexType name="CT_FilterColumn">
    <xsd:choice minOccurs="0" maxOccurs="1">
      <xsd:element name="filters" type="CT_Filters" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="top10" type="CT_Top10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="customFilters" type="CT_CustomFilters" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="dynamicFilter" type="CT_DynamicFilter" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="colorFilter" type="CT_ColorFilter" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="iconFilter" minOccurs="0" maxOccurs="1" type="CT_IconFilter"/>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1"/>
    </xsd:choice>
    <xsd:attribute name="colId" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="hiddenButton" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="showButton" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  <xsd:complexType name="CT_Filters">
    <xsd:sequence>
      <xsd:element name="filter" type="CT_Filter" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="dateGroupItem" type="CT_DateGroupItem" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="blank" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="calendarType" type="s:ST_CalendarType" use="optional" default="none"/>
  </xsd:complexType>
  <xsd:complexType name="CT_Filter">
    <xsd:attribute name="val" type="s:ST_Xstring"/>
  </xsd:complexType>
  <xsd:complexType name="CT_CustomFilters">
    <xsd:sequence>
      <xsd:element name="customFilter" type="CT_CustomFilter" minOccurs="1" maxOccurs="2"/>
    </xsd:sequence>
    <xsd:attribute name="and" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>
  <xsd:complexType name="CT_CustomFilter">
    <xsd:attribute name="operator" type="ST_FilterOperator" default="equal" use="optional"/>
    <xsd:attribute name="val" type="s:ST_Xstring"/>
  </xsd:complexType>
  <xsd:complexType name="CT_Top10">
    <xsd:attribute name="top" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="percent" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="val" type="xsd:double" use="required"/>
    <xsd:attribute name="filterVal" type="xsd:double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CT_ColorFilter">
    <xsd:attribute name="dxfId" type="ST_DxfId" use="optional"/>
    <xsd:attribute name="cellColor" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  <xsd:complexType name="CT_IconFilter">
    <xsd:attribute name="iconSet" type="ST_IconSetType" use="required"/>
    <xsd:attribute name="iconId" type="xsd:unsignedInt" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_FilterOperator">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="equal"/>
      <xsd:enumeration value="lessThan"/>
      <xsd:enumeration value="lessThanOrEqual"/>
      <xsd:enumeration value="notEqual"/>
      <xsd:enumeration value="greaterThanOrEqual"/>
      <xsd:enumeration value="greaterThan"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_DynamicFilter">
    <xsd:attribute name="type" type="ST_DynamicFilterType" use="required"/>
    <xsd:attribute name="val" type="xsd:double" use="optional"/>
    <xsd:attribute name="valIso" type="xsd:dateTime" use="optional"/>
    <xsd:attribute name="maxValIso" type="xsd:dateTime" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_DynamicFilterType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="null"/>
      <xsd:enumeration value="aboveAverage"/>
      <xsd:enumeration value="belowAverage"/>
      <xsd:enumeration value="tomorrow"/>
      <xsd:enumeration value="today"/>
      <xsd:enumeration value="yesterday"/>
      <xsd:enumeration value="nextWeek"/>
      <xsd:enumeration value="thisWeek"/>
      <xsd:enumeration value="lastWeek"/>
      <xsd:enumeration value="nextMonth"/>
      <xsd:enumeration value="thisMonth"/>
      <xsd:enumeration value="lastMonth"/>
      <xsd:enumeration value="nextQuarter"/>
      <xsd:enumeration value="thisQuarter"/>
      <xsd:enumeration value="lastQuarter"/>
      <xsd:enumeration value="nextYear"/>
      <xsd:enumeration value="thisYear"/>
      <xsd:enumeration value="lastYear"/>
      <xsd:enumeration value="yearToDate"/>
      <xsd:enumeration value="Q1"/>
      <xsd:enumeration value="Q2"/>
      <xsd:enumeration value="Q3"/>
      <xsd:enumeration value="Q4"/>
      <xsd:enumeration value="M1"/>
      <xsd:enumeration value="M2"/>
      <xsd:enumeration value="M3"/>
      <xsd:enumeration value="M4"/>
      <xsd:enumeration value="M5"/>
      <xsd:enumeration value="M6"/>
      <xsd:enumeration value="M7"/>
      <xsd:enumeration value="M8"/>
      <xsd:enumeration value="M9"/>
      <xsd:enumeration value="M10"/>
      <xsd:enumeration value="M11"/>
      <xsd:enumeration value="M12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_IconSetType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="3Arrows"/>
      <xsd:enumeration value="3ArrowsGray"/>
      <xsd:enumeration value="3Flags"/>
      <xsd:enumeration value="3TrafficLights1"/>
      <xsd:enumeration value="3TrafficLights2"/>
      <xsd:enumeration value="3Signs"/>
      <xsd:enumeration value="3Symbols"/>
      <xsd:enumeration value="3Symbols2"/>
      <xsd:enumeration value="4Arrows"/>
      <xsd:enumeration value="4ArrowsGray"/>
      <xsd:enumeration value="4RedToBlack"/>
      <xsd:enumeration value="4Rating"/>
      <xsd:enumeration value="4TrafficLights"/>
      <xsd:enumeration value="5Arrows"/>
      <xsd:enumeration value="5ArrowsGray"/>
      <xsd:enumeration value="5Rating"/>
      <xsd:enumeration value="5Quarters"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_DateGroupItem">
    <xsd:attribute name="year" type="xsd:unsignedShort" use="required"/>
    <xsd:attribute name="month" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="day" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="hour" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="minute" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="second" type="xsd:unsignedShort" use="optional"/>
    <xsd:attribute name="dateTimeGrouping" type="ST_DateTimeGrouping" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_DateTimeGrouping">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="year"/>
      <xsd:enumeration value="month"/>
      <xsd:enumeration value="day"/>
      <xsd:enumeration value="hour"/>
      <xsd:enumeration value="minute"/>
      <xsd:enumeration value="second"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_DxfId">
    <xsd:restriction base="xsd:unsignedInt"/>
  </xsd:simpleType>
  <xsd:group name="EG_ExtensionList">
    <xsd:sequence>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="CT_Extension">
    <xsd:sequence>
      <xsd:any processContents="lax"/>
    </xsd:sequence>
    <xsd:attribute name="uri" type="xsd:token"/>
  </xsd:complexType>
  <xsd:complexType name="CT_ExtensionList">
    <xsd:sequence>
      <xsd:group ref="EG_ExtensionList" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Sheets">
    <xsd:sequence>
      <xsd:element name="sheet" type="CT_Sheet" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Sheet">
    <xsd:attribute name="name" type="s:ST_Xstring" use="required"/>
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="state" type="ST_SheetState" use="optional" default="visible"/>
    <xsd:attribute ref="r:id" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_SheetState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="visible"/>
      <xsd:enumeration value="hidden"/>
      <xsd:enumeration value="veryHidden"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="workbook" type="CT_Workbook"/>
  <xsd:complexType name="CT_Workbook">
    <xsd:sequence>
      <xsd:element name="fileVersion" type="CT_FileVersion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fileSharing" type="CT_FileSharing" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="workbookPr" type="CT_WorkbookPr" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="workbookProtection" type="CT_WorkbookProtection" minOccurs="0"
                   maxOccurs="1"/>
      <xsd:element name="bookViews" type="CT_BookViews" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sheets" type="CT_Sheets" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="functionGroups" type="CT_FunctionGroups" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="externalReferences" type="CT_ExternalReferences" minOccurs="0"
                   maxOccurs="1"/>
      <xsd:element name="definedNames" type="CT_DefinedNames" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="calcPr" type="CT_CalcPr" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="oleSize" type="CT_OleSize" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="customWorkbookViews" type="CT_CustomWorkbookViews" minOccurs="0"
                   maxOccurs="1"/>
      <xsd:element name="pivotCaches" type="CT_PivotCaches" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="smartTagPr" type="CT_SmartTagPr" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="smartTagTypes" type="CT_SmartTagTypes" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="webPublishing" type="CT_WebPublishing" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fileRecoveryPr" type="CT_FileRecoveryPr" minOccurs="0"
                   maxOccurs="unbounded"/>
      <xsd:element name="webPublishObjects" type="CT_WebPublishObjects" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="conformance" type="s:ST_ConformanceClass"/>
  </xsd:complexType>
  <xsd:complexType name="CT_DefinedNames">
    <xsd:sequence>
      <xsd:element name="definedName" type="CT_DefinedName" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_FileRecoveryPr">
    <xsd:attribute name="autoRecover" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="crashSave" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="dataExtractLoad" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="repairLoad" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>
  <xsd:complexType name="CT_WebPublishObjects">
    <xsd:sequence>
      <xsd:element name="webPublishObject" type="CT_WebPublishObject" minOccurs="1"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CT_WebPublishObject">
    <xsd:attribute name="id" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="divId" type="s:ST_Xstring" use="required"/>
    <xsd:attribute name="sourceObject" type="s:ST_Xstring" use="optional"/>
    <xsd:attribute name="destinationFile" type="s:ST_Xstring" use="required"/>
    <xsd:attribute name="title" type="s:ST_Xstring" use="optional"/>
    <xsd:attribute name="autoRepublish" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>
  <xsd:complexType name="CT_OleSize">
    <xsd:attribute name="ref" type="ST_Ref" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_Ref">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="CT_SmartTagPr">
    <xsd:attribute name="embed" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="show" type="ST_SmartTagShow" use="optional" default="all"/>
  </xsd:complexType>
  <xsd:complexType name="CT_SmartTagTypes">
    <xsd:sequence>
      <xsd:element name="smartTagType" type="CT_SmartTagType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_WebPublishing">
    <xsd:attribute name="css" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="thicket" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="longFileNames" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="vml" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="allowPng" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="targetScreenSize" type="ST_TargetScreenSize" use="optional" default="800x600"/>
    <xsd:attribute name="dpi" type="xsd:unsignedInt" use="optional" default="96"/>
    <xsd:attribute name="characterSet" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_TargetScreenSize">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="544x376"/>
      <xsd:enumeration value="640x480"/>
      <xsd:enumeration value="720x512"/>
      <xsd:enumeration value="800x600"/>
      <xsd:enumeration value="1024x768"/>
      <xsd:enumeration value="1152x882"/>
      <xsd:enumeration value="1152x900"/>
      <xsd:enumeration value="1280x1024"/>
      <xsd:enumeration value="1600x1200"/>
      <xsd:enumeration value="1800x1440"/>
      <xsd:enumeration value="1920x1200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SmartTagType">
    <xsd:attribute name="namespaceUri" type="s:ST_Xstring" use="optional"/>
    <xsd:attribute name="name" type="s:ST_Xstring" use="optional"/>
    <xsd:attribute name="url" type="s:ST_Xstring" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_SmartTagShow">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="noIndicator"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PivotCaches">
    <xsd:sequence>
      <xsd:element name="pivotCache" type="CT_PivotCache" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_PivotCache">
    <xsd:attribute name="cacheId" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute ref="r:id" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CT_CalcPr">
    <xsd:attribute name="calcId" type="xsd:unsignedInt"/>
    <xsd:attribute name="calcMode" type="ST_CalcMode" use="optional" default="auto"/>
    <xsd:attribute name="fullCalcOnLoad" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="refMode" type="ST_RefMode" use="optional" default="A1"/>
    <xsd:attribute name="iterate" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="iterateCount" type="xsd:unsignedInt" use="optional" default="100"/>
    <xsd:attribute name="iterateDelta" type="xsd:double" use="optional" default="0.001"/>
    <xsd:attribute name="fullPrecision" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="calcCompleted" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="calcOnSave" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="concurrentCalc" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="concurrentManualCount" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="forceFullCalc" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_CalcMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="manual"/>
      <xsd:enumeration value="auto"/>
      <xsd:enumeration value="autoNoTable"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_RefMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A1"/>
      <xsd:enumeration value="R1C1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Formula">
    <xsd:restriction base="s:ST_Xstring"/>
  </xsd:simpleType>
  <xsd:complexType name="CT_DefinedName">
    <xsd:simpleContent>
      <xsd:extension base="ST_Formula">
        <xsd:attribute name="name" type="s:ST_Xstring" use="required"/>
        <xsd:attribute name="comment" type="s:ST_Xstring" use="optional"/>
        <xsd:attribute name="customMenu" type="s:ST_Xstring" use="optional"/>
        <xsd:attribute name="description" type="s:ST_Xstring" use="optional"/>
        <xsd:attribute name="help" type="s:ST_Xstring" use="optional"/>
        <xsd:attribute name="statusBar" type="s:ST_Xstring" use="optional"/>
        <xsd:attribute name="localSheetId" type="xsd:unsignedInt" use="optional"/>
        <xsd:attribute name="hidden" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="function" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="vbProcedure" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="xlm" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="functionGroupId" type="xsd:unsignedInt" use="optional"/>
        <xsd:attribute name="shortcutKey" type="s:ST_Xstring" use="optional"/>
        <xsd:attribute name="publishToServer" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="workbookParameter" type="xsd:boolean" use="optional" default="false"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CT_ExternalReferences">
    <xsd:sequence>
      <xsd:element name="externalReference" type="CT_ExternalReference" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_ExternalReference">
    <xsd:attribute ref="r:id" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CT_FunctionGroups">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="functionGroup" type="CT_FunctionGroup" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="builtInGroupCount" type="xsd:unsignedInt" default="16" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CT_FunctionGroup">
    <xsd:attribute name="name" type="s:ST_Xstring"/>
  </xsd:complexType>
  <xsd:complexType name="CT_WorkbookProtection">
    <xsd:attribute name="lockStructure" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="lockWindows" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="lockRevision" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="revisionsAlgorithmName" type="s:ST_Xstring" use="optional"/>
    <xsd:attribute name="revisionsHashValue" type="xsd:base64Binary" use="optional"/>
    <xsd:attribute name="revisionsSaltValue" type="xsd:base64Binary" use="optional"/>
    <xsd:attribute name="revisionsSpinCount" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="workbookAlgorithmName" type="s:ST_Xstring" use="optional"/>
    <xsd:attribute name="workbookHashValue" type="xsd:base64Binary" use="optional"/>
    <xsd:attribute name="workbookSaltValue" type="xsd:base64Binary" use="optional"/>
    <xsd:attribute name="workbookSpinCount" type="xsd:unsignedInt" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CT_FileVersion">
    <xsd:attribute name="appName" type="xsd:string" use="optional"/>
    <xsd:attribute name="lastEdited" type="xsd:string" use="optional"/>
    <xsd:attribute name="lowestEdited" type="xsd:string" use="optional"/>
    <xsd:attribute name="rupBuild" type="xsd:string" use="optional"/>
    <xsd:attribute name="codeName" type="s:ST_Guid" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CT_BookViews">
    <xsd:sequence>
      <xsd:element name="workbookView" type="CT_BookView" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_BookView">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="visibility" type="ST_Visibility" use="optional" default="visible"/>
    <xsd:attribute name="minimized" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="showHorizontalScroll" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="showVerticalScroll" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="showSheetTabs" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="xWindow" type="xsd:int" use="optional"/>
    <xsd:attribute name="yWindow" type="xsd:int" use="optional"/>
    <xsd:attribute name="windowWidth" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="windowHeight" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="tabRatio" type="xsd:unsignedInt" use="optional" default="600"/>
    <xsd:attribute name="firstSheet" type="xsd:unsignedInt" use="optional" default="0"/>
    <xsd:attribute name="activeTab" type="xsd:unsignedInt" use="optional" default="0"/>
    <xsd:attribute name="autoFilterDateGrouping" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_Visibility">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="visible"/>
      <xsd:enumeration value="hidden"/>
      <xsd:enumeration value="veryHidden"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_CustomWorkbookViews">
    <xsd:sequence>
      <xsd:element name="customWorkbookView" minOccurs="1" maxOccurs="unbounded" type="CT_CustomWorkbookView"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_FileSharing">
    <xsd:attribute name="readOnlyRecommended" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="userName" type="s:ST_Xstring"/>
    <xsd:attribute name="algorithmName" type="s:ST_Xstring" use="optional"/>
    <xsd:attribute name="hashValue" type="xsd:base64Binary" use="optional"/>
    <xsd:attribute name="saltValue" type="xsd:base64Binary" use="optional"/>
    <xsd:attribute name="spinCount" type="xsd:unsignedInt" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CT_CustomWorkbookView">
    <xsd:sequence>
      <xsd:element name="extLst" minOccurs="0" type="CT_ExtensionList"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="s:ST_Xstring" use="required"/>
    <xsd:attribute name="guid" type="s:ST_Guid" use="required"/>
    <xsd:attribute name="autoUpdate" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="mergeInterval" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="changesSavedWin" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="onlySync" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="personalView" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="includePrintSettings" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="includeHiddenRowCol" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="maximized" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="minimized" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="showHorizontalScroll" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="showVerticalScroll" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="showSheetTabs" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="xWindow" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="yWindow" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="windowWidth" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="windowHeight" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="tabRatio" type="xsd:unsignedInt" use="optional" default="600"/>
    <xsd:attribute name="activeSheetId" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="showFormulaBar" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="showStatusbar" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="showComments" type="ST_Comments" use="optional" default="commIndicator"/>
    <xsd:attribute name="showObjects" type="ST_Objects" use="optional" default="all"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_Comments">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="commNone"/>
      <xsd:enumeration value="commIndicator"/>
      <xsd:enumeration value="commIndAndComment"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_WorkbookPr">
    <xsd:attribute name="date1904" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="showObjects" type="ST_Objects" use="optional" default="all"/>
    <xsd:attribute name="showBorderUnselectedTables" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="filterPrivacy" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="promptedSolutions" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="showInkAnnotation" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="backupFile" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="saveExternalLinkValues" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="updateLinks" type="ST_UpdateLinks" use="optional" default="userSet"/>
    <xsd:attribute name="codeName" type="xsd:string" use="optional"/>
    <xsd:attribute name="hidePivotFieldList" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="showPivotChartFilter" type="xsd:boolean" default="false"/>
    <xsd:attribute name="allowRefreshQuery" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="publishItems" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="checkCompatibility" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="autoCompressPictures" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="refreshAllConnections" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="defaultThemeVersion" type="xsd:unsignedInt" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="ST_UpdateLinks">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="userSet"/>
      <xsd:enumeration value="never"/>
      <xsd:enumeration value="always"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Objects">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="placeholders"/>
      <xsd:enumeration value="none"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
