test/Integration/Output/Php/data/simple-type-union-of-simple-types/source.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://purl.oclc.org/ooxml/spreadsheetml/main"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:simpleType name="ST_One">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    <xsd:simpleType name="ST_Two">
        <xsd:restriction base="xsd:token"/>
    </xsd:simpleType>
    <xsd:simpleType name="ST_Union">
        <xsd:union memberTypes="ST_One ST_Two"/>
    </xsd:simpleType>
</xsd:schema>
